root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile,makefile,*.go}]
indent_style = tab

[*.{yml,yaml,rb,erb,html,js,ts,json}]
indent_size = 2
